@using MicroFeel.Abp.Theme.AdminLTE.Components.Toolbar
@using MicroFeel.Abp.Theme.AdminLTE.Components.MainNavbar
@model MainNavbarViewComponentModel
<nav class="main-header navbar navbar-expand navbar-white navbar-light">
    <a class="nav-link navbar-brand" data-widget="pushmenu" href="#"><i class="fas fa-bars"></i></a>
    @if (!string.IsNullOrWhiteSpace(Model.Title))
    {
        <span class="font-weight-bold">@Model.Title</span>
    }
    <ul class="navbar-nav ml-auto">
        @if (Model.Toolbar != null)
            @foreach (var toolbarItem in Model.Toolbar.Items.OrderBy(i => i.Order))
            {
                <li class="nav-item">@(await Component.InvokeAsync(toolbarItem.ComponentType))</li>
            }
    </ul>

    <!-- Right navbar links -->
    <ul class="navbar-nav ml-auto">
        @(await Component.InvokeAsync<MainNavbarToolbarViewComponent>())
    </ul>
</nav>